<app-header></app-header>
<div class="lib">
  <div class="image ">
 <!-- Header-->
 <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <div class="move"><h1 class="display-1 fw-bolder text-white">VALUE IT</h1></div>
                <div class="d-flex justify-content-center"> <div class="line"> </div></div>
            </div>
            <div class="col-lg-8 align-self-baseline">
               <div class="upmove">
                <p class="display-7 text-white mb-5">Entreprise Wiser Solution situé aux Etats-Unis, 
                    qui spécialise dans la récolte de données en ligne sur les sites e-commerce. Fondée en 2009.</p>
                    </div>
                    <div class="upmoveB">
                    <a type="button" class="btn btn-outline-light btn-lg px-4" href="#activite">Plus d'infos</a>
            </div>
                </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="activite">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/testeur.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe R&D</h2>
                <p class="lead fw-normal text-muted mb-0">En relation direct avec l’équipe Paris
                    Tester les applications du groupe WORKIT</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/bi.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe BPO &amp;Matching</h2>
                <p class="lead fw-normal  text-white mb-0">Équipe BPO :
                    Création du site et arborescence
                    Mise en arborescence et mapping.Équipe Matching:
                    Référencer les produits selon le catalogue WORKIT </p>
            </div>
        </div>
    </div>
</section>
  </div>
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/ai.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe Monitoring</h2>
                <p class="lead fw-normal text-muted mb-0">Surveillance des sites dans la PF W2P et dans l’outil d’administration
                    Rapporter les incidents et créer des tickets bugs
                    Faire les configurations jobs et les scheduling </p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/valib.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe QC (Contrôle Qualité)</h2>
                <p class="lead fw-normal  text-white mb-0">Équipe BPO :
                    Assurer les qualités des données
                    Faire les planifications
                    Étude des similarités</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/data.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe Data Analyste:</h2>
                <p class="lead fw-normal text-muted mb-0">Recueillir, 
                    traiter et étudier les données statistiques pour 
                    produire des analyses métiers et des recommandations</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/dev.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Équipe DEV (projet et maintenance)</h2>
                <p class="lead fw-normal  text-white mb-0"> Créer les différents
                    moteurs/plugins Maintenir les différents moteurs/plugins </p>    </div>
        </div>
    </div>
</section>
</div>
<app-footer></app-footer>