
 <!-- Begin Page Content -->
 <div class="container-fluid">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nombre employer dans un departement par année de service</h6>
        </div>
        <div class="card-body">
        <div class="chart-container">
                <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>
            
        </div>
    </div>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employer par departement</h6>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas  id="MeChart" >{{ charts }}</canvas>
          </div>
            
        </div>
    </div>
</div>
<!-- /.container-fluid -->