
<div class="lib">             
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="my-5  text-xl-start">
                    <h1 class="display-2 text-white">Bienvenue sur le site d'information </h1>
                    <h1 class="display-1 text-white">VALUE IT</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Entreprise Wiser Solution situé aux Etats-Unis, qui spécialise dans la récolte de données en ligne sur les sites e-commerce. Fondée en 2009.</p>
                    <p class="lead fw-normal text-white-50 mb-4"><a class="btn btn-outline-light btn-lg px-4" href="/sidebar/allEvent">Commencer</a></p>
                    <div class="col-lg-8 align-self-baseline">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>