<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/test"><img height="40px"  width="120px" src="./assets/img/valueIt-removebg-preview.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Communiquer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Evenement">Evenement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departement">departement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Consigne métier</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/creationDepartement">Ajouter departement</a></li>
                  <li><a class="dropdown-item" href="/creationEmployer">Ajouter Employer</a></li>
                </ul>
              </li>
            </ul>
            <div class="d-flex align-items-center">
               
                <img class="rounded-circle me-3" width="40"  src="https://i.imgur.com/9AZ2QX1.jpg" alt="..." />
                <div class="small"> 
                    <div class="fw-bold"><a href="/profil">Evelyn Martinez</a></div>
                    <div class="text-muted"></div>
                </div>
                <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="#">Ajouter </a></li>
                    <li><a class="dropdown-item" href="#">Ajouter </a></li>
                  </ul>
                  </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    