.lib {
    min-height: 100vh;
    background-color: #00899e;
    background: linear-gradient(to bottom, rgba(27, 113, 211, 0.8) 0%, rgba(1, 160, 208, 0.8) 100%), url(src/assets/ImgV/data.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ffffff;
  }
  
  a{
    text-decoration: none;
  }
