<app-header></app-header>
<br>
<br>
<div class="lib">
  <section id="header" class="jumbotron text-center">
    <h1 class="display-3 text-white">Historiques </h1>
  </section>
  
  <section  class="p-3 mb-2 ">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/dev.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Historiques</h2>
                    <p class="lead fw-normal text-dark mb-0">
                      VALUE IT est une filiale de l’entreprise Wiser Solution situé aux Etats-Unis, qui spécialise dans la récolte de données en ligne sur les sites e-commerce. Fondée en 2009, la société a les équipes suivantes avec leurs missions en globalités:
Équipe BPO: Création du site et arborescence Mise en arborescence et mapping Planification
Équipe Monitoring : Surveillance des sites dans la PF W2P et dans l’outil d’administration
Rapporter les incidents et créer des tickets bugs Faire les configurations jobs et les scheduling
Équipe QC (Contrôle Qualité):Assurer les qualités des données Faire les planifications Étude des similarités
Équipe DEV (projet et maintenance):Créer les différents moteurs/plugins Maintenir les différents moteurs/plugins
Équipe Matching: Référencer les produits selon le catalogue WORKIT
Équipe R&D: En relation direct avec l’équipe Paris Tester les applications du groupe WORKIT
Équipe Data Analyste:Recueillir, traiter et étudier les données statistiques pour produire des analyses métiers et des recommandations
Remarque: Avant, ValueIT appartenait à l’entreprise Workit Software, mais ce n’est qu’en Décembre 2020 (30/12/2020) que la société Wiser Solution l’a acheté. Donc, les outils utilisés pour l’achèvement du projet, les différents départements, les contrats sont encore ceux de Workit.

                      </p>
                </div>
            </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/dev.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Historiques</h2>
                    <p class="lead fw-normal text-muted mb-0">
                      VALUE IT est une filiale de l’entreprise Wiser Solution situé aux Etats-Unis, qui spécialise dans la récolte de données en ligne sur les sites e-commerce. Fondée en 2009, la société a les équipes suivantes avec leurs missions en globalités:
                      Équipe BPO: Création du site et arborescence Mise en arborescence et mapping Planification
                      Équipe Monitoring : Surveillance des sites dans la PF W2P et dans l’outil d’administration
                      Rapporter les incidents et créer des tickets bugs Faire les configurations jobs et les scheduling
                      Équipe QC (Contrôle Qualité):Assurer les qualités des données Faire les planifications Étude des similarités
                      Équipe DEV (projet et maintenance):Créer les différents moteurs/plugins Maintenir les différents moteurs/plugins
                      Équipe Matching: Référencer les produits selon le catalogue WORKIT
                      Équipe R&D: En relation direct avec l’équipe Paris Tester les applications du groupe WORKIT
                      Équipe Data Analyste:Recueillir, traiter et étudier les données statistiques pour produire des analyses métiers et des recommandations
                      Remarque: Avant, ValueIT appartenait à l’entreprise Workit Software, mais ce n’est qu’en Décembre 2020 (30/12/2020) que la société Wiser Solution l’a acheté. Donc, les outils utilisés pour l’achèvement du projet, les différents départements, les contrats sont encore ceux de Workit.
                        
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/ImgV/dev.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Historiques</h2>
                    <p class="lead fw-normal text-muted mb-0">
                      VALUE IT est une filiale de l’entreprise Wiser Solution situé aux Etats-Unis, qui spécialise dans la récolte de données en ligne sur les sites e-commerce. Fondée en 2009, la société a les équipes suivantes avec leurs missions en globalités:
                      Équipe BPO: Création du site et arborescence Mise en arborescence et mapping Planification
                      Équipe Monitoring : Surveillance des sites dans la PF W2P et dans l’outil d’administration
                      Rapporter les incidents et créer des tickets bugs Faire les configurations jobs et les scheduling
                      Équipe QC (Contrôle Qualité):Assurer les qualités des données Faire les planifications Étude des similarités
                      Équipe DEV (projet et maintenance):Créer les différents moteurs/plugins Maintenir les différents moteurs/plugins
                      Équipe Matching: Référencer les produits selon le catalogue WORKIT
                      Équipe R&D: En relation direct avec l’équipe Paris Tester les applications du groupe WORKIT
                      Équipe Data Analyste:Recueillir, traiter et étudier les données statistiques pour produire des analyses métiers et des recommandations
                      Remarque: Avant, ValueIT appartenait à l’entreprise Workit Software, mais ce n’est qu’en Décembre 2020 (30/12/2020) que la société Wiser Solution l’a acheté. Donc, les outils utilisés pour l’achèvement du projet, les différents départements, les contrats sont encore ceux de Workit.
                        
                    </p>
                </div>
            </div>
        </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  
</div>
<app-footer></app-footer>