<app-header></app-header>
<p>activite works!</p>
<div class="lib">
         <section id="header" class="jumbotron text-center">
           <h1 class="display-3 text-white">Activité </h1>
         </section>
        
      <section id="gallery">
        <div class="container">
          <div class="row">
          <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Équipe BPO</h5>
              <p class="card-text"> Création du site et arborescence Mise en arborescence et mapping Planification</p>
            
            </div>
           </div>
          </div>
        <div class="col-lg-4 mb-4">
        <div class="card">
            <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Équipe Monitoring </h5>
              <p class="card-text">Surveillance des sites dans la PF W2P et dans l’outil d’administration
                Rapporter les incidents et créer des tickets bugs Faire les configurations jobs et les scheduling
                </p>
             
            </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Équipe QC (Contrôle Qualité)</h5>
              <p class="card-text">Assurer les qualités des données Faire les planifications Étude des similarités</p>
             
            </div>
           </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Équipe DEV (projet et maintenance)</h5>
                <p class="card-text">Créer les différents moteurs/plugins Maintenir les différents moteurs/plugins</p>
             
              </div>
             </div>
            </div>
          <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Équipe Matching</h5>
                <p class="card-text">Référencer les produits selon le catalogue WORKIT</p>
               
              </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Équipe R&D</h5>
                <p class="card-text">En relation direct avec l’équipe Paris Tester les applications du groupe WORKIT</p>
              
              </div>
             </div>
            </div>
          </div>
      </div>
      </section>
      <section id="gallery">
        <div class="container">
        <div class="align-middle">
        
           <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="assets/ImgV/testeur.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Équipe Data Analyste</h5>
                <p class="card-text">Recueillir, traiter et étudier les données statistiques pour produire des analyses métiers et des recommandations</p>
               
              </div>
              </div>
            </div>

          </div>
      </div>
      </section>
</div>
<app-footer></app-footer>
