.container-fluid{
    height:1500px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
}

#accordionSidebar{
    background:linear-gradient(to bottom, rgba(38, 137, 250, 0.947) 0%, rgba(3, 118, 240, 0.929) 100%), url(src/assets/ImgV/sid.jpg) center center / cover no-repeat ;
}
.dropdown-header{
    background-color: rgba(19, 120, 227, 0.585);
}

