
<div *ngFor="let consignes of Consign" class="row d-flex  justify-content-center">
    <div class="col-md-6 shadow p-3 mb-5 bg-white rounded" >
        <div class="card">
            <div class="d-flex justify-content-between p-2 px-3">
                <div class="d-flex flex-row align-items-center"> <img src="{{consignes.image}}" width="50" class="rounded-circle">
                    <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">{{consignes.nom}} {{consignes.prenom}}</span> <small class="text-primary"></small> </div>
                </div>
                <div class="d-flex flex-row mt-1 ellipsis">
                     <small class="mr-2">{{consignes.date | date:'medium'}}</small> 
                     <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">parametre</div>
                            <a class="dropdown-item" routerLink="/sidebar/updateEvent/{{consignes.id}}">Modifier</a>
                            <a class="dropdown-item" type="button"data-toggle="modal" (click)="getEvent(consignes.id)" data-target="#exampleModal">Supprimer</a>
                            <!--<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                    </div>
                    </div>
            </div>
            <p class="mx-2 mr-2 mb-2 text-justify">
                {{consignes.event}}
            </p>
            <div class="content-image">
              <div class="imagePUB" *ngFor="let imag of consignes.images">
                <img  [src]="sanitize(imag.imagePubid)" class="img-fluid"> 
              </div>
           </div>
            <div class="p-2">
    <a class="nav-link mr-2" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <span class=" d-flex flex-row mt-1">Voir commentaire</span>
    </a>
                <div class="comment-input"> 
                    <form  [formGroup]="this.AjoutComsForm" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="commentaire" placeholder="Commentaire...." id="commentaire" class="form-control">
                        <div class="fonts"> <button class="btk" type="submit" (click)="createComment(consignes.id)">Ajouter</button> </div>
                    </form> 
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                <div  *ngFor="let coms of consignes.comment" class="bg-white py-2 collapse-inner rounded">
                    <img src="{{coms.image}}" width="40" class="rounded-image">
                    <div class="d-flex flex-column ml-2"> <span class="name">{{coms.nomEmp}} {{coms.prenom}}</span> <small class="comment-text">{{coms.comment}} </small>
                        <div class="d-flex flex-row align-items-center status"> <small  type="button" data-toggle="modal" (click)="getComment(coms.idCo)" data-target="#modalAbandonedCart">Modifier</small> <small type="button" data-toggle="modal" (click)="getComment(coms.idCo)" data-target="#exampleModalCenter">Supprimer</small> <small>{{coms.datecomment | date:'medium' }}</small> </div>
                    </div>
                </div>
              
                </div>
            </div>
            </div>
        </div>
    </div>

     
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Voulez vous vraiment supprimer cette consigne?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteEvent(evenem.idEvent)">Supprimer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
  
      <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Suppression</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Voulez vous vraiment supprimer ce commentaire?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteComm(Comments.idCo)">Supprimer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
      
  
  
  
      <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">Modification commentaire
            </p>
    
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
    
          <!--Body-->
          <div class="modal-body">
    
            <div class="row">
                  <form [formGroup]="this.UpdatComsFomr" (ngSubmit)="Submita()">
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Commentaire</label>
                        <textarea class="form-control" [(ngModel)]="Comments.comment" formControlName="commentaire" class="form-control" id="message-text"></textarea>
                      </div>
                      <button type="submit" class="btn btn-info">Modifier</button>
                    </form>
              <div class="col-9">
                
              </div>
            </div>
          </div>
    
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Annuler</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Modal: modalAbandonedCart-->
  
  
  